{{#extends 'base'}}

{{#block "content"}}
<h1>Notes for {{foodRecord.name}}</h1>
{{#each foodRecord.notes}}
<div class="card mt-3">
    <div class="card-body">
    {{this.content}}
    <div class="mt-3"><a href="/food/{{../foodRecord._id}}/notes/{{this_" class="btn btn-primary"></a></div>
    </div>
</div>
{{/each}}
{{/block}}

{{/extends}}