{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <label>Note:</label>
    <textarea name="note_content">
        {{foodRecord.notes[0].content}}
    </textarea>
    <input type="submit" class="btn btn-primary btn-sm mt-3"/>
</form>
{{/block}}

{{/extends}}